.drpdown:after{
    position: absolute;
    content: "\f0d7";
    font-family: FontAwesome;
    color: #0070b0;
    top: -2px;
    right: 0px;
    height: 42px;
    width: 19px;
    background:#ffffff;
    padding-left: 5px;
    padding-top: 13px;
    z-index: 10;
}